body, html {
  height: 100%;
}

body {
  background: #81d4ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #81d4ff , #edc5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #81d4ff , #edc5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fade-enter-active {
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  opacity: 1;
}
.fade-enter {
  opacity: 0;
}
.fade-leave {
  display: none;
}
.fade-leave-active {
  display: none;
}

.scale-enter-active {

}
.scale-enter {

}
.scale-leave {
  transform: scale(1, 1);
}
.scale-leave-active {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transform: scale(0, 0);
  z-index: 20;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}
